extends layout
block content
  h1= title
  table(id="results")
    thead
      tr
        th Conversacion
        th Resultado
        th Mensaje
        th Respuesta
        th Esperado
    tbody
    each conversation, c in results
      each item, i in conversation
        tr(class="#{item.resultadoClass}")
          td #{item.resultadoClass}
          td #{item.conversation_id}
          td #{item.u}
          td #{item.b}
          td #{item.esperado}